{% extends "base.html" %}
{% block content %}
<head xmlns="http://www.w3.org/1999/html">
    <meta charset="UTF-8">
    <meta content="width-device-width, initial-scale= 1.0" name="viewport">
    <meta content="ie-=edge" http-equiv="X-UA-Compatible">
    <link href="{{url_for('static', filename='css/style.css')}}" rel="stylesheet">

    <title>Обучение ансамблей</title>
</head>
<body>
<div class="box matovoye-steklo" style="align-content: center;
                                            align-items: center;
                                            justify-content: center;
                                            margin-left: 8rem;
                                            margin-bottom: -110px;
                                            border: 4px mediumpurple solid;
                                            ">
    {{plot | safe}}
</div>
<div class="buttons" style="margin-bottom: -120px; margin-top: -0px">
    <a class="button" href={{url_for("set_params")}} style="background: lightsalmon;">
        <p>&lArr; BACK TO PARAMS</p>
    </a>
    <a class="button" href={{url_for("load_model")}} style="background: mediumaquamarine;">
        <p> &#11015; DOWNLOAD MODEL</p>
    </a>
</div>
<div ,style="margin-top: -40px" class="buttons">
    <a class="button" href={{url_for("info")}} style="background: mediumpurple;">
        <p>MORE INFO &#128269;</p>
    </a>
    <a class="button" href={{url_for("test")}} style="background: mediumturquoise;">
        <p>TEST &rArr;</p>
    </a>
</div>
</body>

{% endblock %}
