{% extends "base.html" %}
{% block content %}
<head xmlns="http://www.w3.org/1999/html">
    <meta charset="UTF-8">
    <meta name="viewport" content="width-device-width, initial-scale= 1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-=edge">
    <link rel="stylesheet" href="{{url_for('static', filename='css/newstyle.css')}}">

    <title>Обучение ансамблей</title>
</head>
<body>
    <div class="box matovoye-steklo" style="align-content: center;
                                            align-items: center;
                                            justify-content: center;
                                            margin-left: 10rem;
                                            margin-bottom: 5rem;
                                            border: 2px mediumturquoise solid;
                                            ">
        <h2 style="color: black;
                   text-align: center;
                   background-color: mediumturquoise;
                   height: 60px;
                   margin-top: 0px;
                   line-height: 60px">Тестирование
        </h2>
        <form method="POST"
              enctype="multipart/form-data"
              name="train.csv"
              style="margin: 5px 30px;
                     text-align: left;
                     border-radius: 100px;
                     align-content: center;
                     color: black;
                     border: none">
            <p style="color: black; text-align: left; margin-top: 20px; margin-left: 0px; margin-right: 15px">
            Тестовый датасет: должен иметь формат .csv и набор признаков как в тренировочном, кроме `target`.
            </p>
            {{ form.csrf_token }}
            {{ form.test }}

            <button type="submit"  style="width: 65%;
                                     height: 25px;
                                     background: mediumturquoise;
                                     color: white;
                                     border-radius: 10px;
                                     margin: 30px 17%;
                                     margin-top: 210px;
                                     border: 0px;
                                     box-shadow: inset 0 0 0px">
            <p>GET PREDICTIONS</p>
            </button>
        </form>
    </div>
</body>

{% endblock %}
