{% extends "base.html" %}
{% block content %}
<head xmlns="http://www.w3.org/1999/html">
    <meta charset="UTF-8">
    <meta content="width-device-width, initial-scale= 1.0" name="viewport">
    <meta content="ie-=edge" http-equiv="X-UA-Compatible">
    <link href="{{url_for('static', filename='css/newstyle.css')}}" rel="stylesheet">

    <title>Обучение ансамблей</title>
</head>
<body>
<div class="box matovoye-steklo" style="align-content: center;
                                            align-items: center;
                                            justify-content: center;
                                            margin-left: 10rem;
                                            margin-bottom: 5rem;
                                            border: 2px mediumturquoise solid;
                                            ">
    <h2 style="color: black;
                   text-align: center;
                   background-color: mediumturquoise;
                   height: 60px;
                   margin-top: 0px;
                   line-height: 60px">Тестирование
    </h2>
    <form enctype="multipart/form-data"
          method="POST"
          name="train.csv"
          style="margin: 5px 30px;
                     text-align: left;
                     border-radius: 100px;
                     align-content: center;
                     color: black;
                     border: none">
        <p style="color: black; text-align: left; margin-top: 20px; margin-left: 0px; margin-right: 15px">
            Тестовый датасет: должен иметь формат .csv и набор признаков как в тренировочном, кроме `target`.
        </p>
        {{ form.csrf_token }}
        {{ form.test }}

        <button style="width: 65%;
                                     height: 25px;
                                     background: mediumturquoise;
                                     color: white;
                                     border-radius: 10px;
                                     margin: 30px 17%;
                                     margin-top: 210px;
                                     border: 0px;
                                     box-shadow: inset 0 0 0px" type="submit">
            <p>GET PREDICTIONS</p>
        </button>
    </form>
</div>
</body>

{% endblock %}
